.b-game {
  width: 800px;
  margin: 50px auto;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 0 5px black;
}

.b-game__title {
  text-align: center;
  margin-bottom: 20px;
}

.b-game__fields {
  display: flex;
  justify-content: space-around;
  width: 700px;
  /* height: 400px; */
  margin: 0 auto 20px;
  padding: 90px 10px 30px;
  /* border: 1px dashed blue; */
  box-shadow: 0 0 3px 1px inset black;
  border-radius: 10px;
  background: #eee;
}

.b-game__button_play,
.b-game__button_reset {
  display: block;
  margin: 0 auto;
}

.b-game__log {
  padding: 10px;
  text-align: center;
  /* margin-bottom: 10px; */
}

.b-game__field__user,
.b-game__field__comp {
  box-shadow: 0 0 0 1px black;
  height: 300px;
  background: white;
  position: relative;
}

.b-game__field__user {
  cursor: not-allowed;
}

.b-game__field__comp {
  cursor: pointer;
}

.b-game__field__user input,
.b-game__field__comp input,
.b-game__field__user__name,
.b-game__field__comp__name {
  position: absolute;
  display: block;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  color: green;
  font-weight: bold;
}

.b-game__field__comp__name {
  color: red;
}

.b-game__field-row {
}

.b-game__field-row,
.b-game__field-cell {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.b-game__field-row__item {
  display: inline-block;
}

.b-game__field-cell__item {
  display: block;
  width: 30px;
  height: 30px;
  box-shadow: 0 0 0 1px inset black;
}

.b-game__field__comp .b-game__field-cell__item:hover {
  animation: blinking 2s ease-in-out infinite;
}
/* .b-game__field-cell__item:hover {
  animation: blinking 2s ease-in-out infinite;
} */

.b-game__field-cell__item_deck {
  background: lightblue;
}

.b-game__coordinate__horizontal {
  position: absolute;
  bottom: 100%;
}

.b-game__coordinate__horizontal__item {
  width: 30px;
  height: 20px;
  display: inline-block;
  font-weight: bold;
}

.b-game__coordinate__vertical {
  position: absolute;
  right: 100%;
  line-height: 30px;
}

.b-game__coordinate__vertical__item {
  width: 30px;
  height: 30px;
  display: inline-block;
  font-weight: bold;
}

@keyframes blinking {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 1px inset black;
  }
  50% {
    transform: scale(1.2);
    box-shadow: 0 0 0 3px inset black;
    background: rgba(255, 0, 0, 0.5);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 1px inset black;
  }
}
